@import "tailwindcss";

body {
    background-color: oklch(0.987 0.022 95.277);
    color: oklch(0.279 0.077 45.635);
    min-height: 100vh;
}

body.dark {
    background-color: #150700;
    color: oklch(0.987 0.022 95.277);
}

@theme {
    --color-primary-50: oklch(0.987 0.022 95.277);
    --color-primary-100: oklch(0.962 0.059 95.617);
    --color-primary-200: oklch(0.924 0.12 95.746);
    --color-primary-300: oklch(0.879 0.169 91.605);
    --color-primary-400: oklch(0.828 0.189 84.429);
    --color-primary-500: oklch(0.769 0.188 70.08);
    --color-primary-600: oklch(0.666 0.179 58.318);
    --color-primary-700: oklch(0.555 0.163 48.998);
    --color-primary-800: oklch(0.473 0.137 46.201);
    --color-primary-900: oklch(0.414 0.112 45.904);
    --color-primary-950: oklch(0.279 0.077 45.635);
    --color-base-dark: #150700;
}

.primary-btn {
    @apply px-4 py-2 rounded-md border bg-primary-700/10 hover:bg-primary-700/100 cursor-pointer hover:text-primary-50
}

/* Spinner Wrapper */
.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Spinner */
  .spinner {
    width: 30px;
    height: 30px;
    border: 5px solid oklch(0.987 0.022 95.277); /* Light gray background */
    border-top: 5px solid oklch(0.828 0.189 84.429); /* Blue spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  /* Spinner Animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  